* {box-sizing: border-box;}

/* Color Scheme */
:root{
  --darker: #08120c;
  --dark: #0c1811;
  --theme: #00b4d8;
  --heading:#05668d;  
  --accent: #96fbc4;
  --light: #f0f0f0;
  --lighter: #ffffff;
  --under: #224d66;
}

/* Fonts */
@font-face {
  font-family: main;
  font-display: swap;
  src: url(/assets/cantarell.ttf);
}
@font-face {
  font-family: headings;
  font-display: swap;
  src: url(/assets/mr.ttf);
}

/* ----------------- */
/* The Magic Begins */
/* --------------- */
body {
  font-family: main;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  background: var(--lighter);
  color: var(--dark);
}
[class^="grid"]{display:grid;width:100%;padding:0;}
.grid1{grid-template-columns:repeat(1,1fr);}
.grid2{grid-template-columns:repeat(2,1fr);}
.grid3{grid-template-columns:repeat(3,1fr);}
.grid4{grid-template-columns:repeat(4,1fr);}
.grid5{grid-template-columns:repeat(5,1fr);}
.grid6{grid-template-columns:repeat(6,1fr);}
.grid7{grid-template-columns:repeat(7,1fr);}
.grid8{grid-template-columns:repeat(8,1fr);}
.grid9{grid-template-columns:repeat(9,1fr);}
.grid10{grid-template-columns:repeat(10,1fr);}
.grid11{grid-template-columns:repeat(11,1fr);}
.grid12{grid-template-columns:repeat(12,1fr);}

[class^="col"]{display:inline-block;padding:1rem;}
.col1{grid-column: span 1;}
.col2{grid-column: span 2;}
.col3{grid-column: span 3;}
.col4{grid-column: span 4;}
.col5{grid-column: span 5;}
.col6{grid-column: span 6;}
.col7{grid-column: span 7;}
.col8{grid-column: span 8;}
.col9{grid-column: span 9;}
.col10{grid-column: span 10;}
.col11{grid-column: span 11;}
.col12{grid-column: span 12;}

.rtl{direction: rtl;}

img[class^="col"]{width: 100%;height: auto;padding:0;}

a{color: currentColor;}

.bg-darker{background:var(--darker);color:var(--lighter);}
.bg-dark{background:var(--dark);color:var(--lighter);}
.bg-theme{background:var(--theme);color:var(--lighter);}
.bg-accent{background:var(--accent);color:var(--darker);}
.bg-light{background:var(--light);color:var(--dark);}
.bg-lighter{background:var(--lighter);color:var(--dark);}

.fg-darker{color:var(--darker);}
.fg-dark{color:var(--dark);}
.fg-theme{color:var(--theme);}
.fg-accent{color:var(--accent);}
.fg-light{color:var(--light);}
.fg-lighter{color:var(--lighter);}

.a-left{text-align:left;}
.a-right{text-align:right;}
.a-center{text-align:center;}
.a-justify{text-align:justify;}

.large-only{display:initial;}
.small-only{display:none;}

@media only screen and (max-width: 768px) {
  [class^="grid"]{display:block;width:100%;}
  [class^="col"]{display:block;width: 100%;}
  img[class^="col"]{display:inline-block;}
  
  .large-only{display:none;}
  .small-only{display:initial;}
}
/* --------------- */
/* The Magic Ends */
/* ------------- */


/* Home Page Background */
div.home-bg{
  display: block;
  position: fixed;
  background: var(--darker);
  z-index: -10000;
  pointer-events: none;
  padding: 0;
  margin: 0;
}
div.home-bg-image{
  background: url(/assets/bg2.jpg);
  background-size: cover;
  background-position: center center;
  min-width: 100vw;
  min-height: 100vh;
}

/* SVG Icon Symbols*/
svg.icon-defs{
  display: none;
}

/* Header with logo, and responsive nav menu */
header{
  background: var(--light);
  padding: 1rem;
  padding-bottom: 0rem;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 4rem auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-icon{width:100%; height: auto;}
.header-home-link{text-decoration:none;padding:0;display:inline-block;}
header>input{display: none;}
header>label,header>label>svg{
  display: inline-block;
  height: 100%;
  width: auto;
  transition: transform 0.2s; 
}
header input:checked ~ label{
  transform: scaley(-1);
}
header>nav{
  display: none;
  text-align: right;
  grid-column: span 2;
  opacity: 0;
  transition: opacity 0.2s;
  justify-self: stretch;
  text-align: right;
  border-radius: 0.25rem;
  pointer-events: none;
}
header input:checked ~ nav{
  display: inline-block;
  opacity: 1;
  pointer-events: initial;
  background: var(--light);
}
header>nav>a{
  color: var(--darker);
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  header>nav{
    padding-bottom: 0.5rem;
  }
  header>nav>a{
    display: block;
    text-align: right;
  }

  .rtl{
    direction:ltr;
  }
}
@media only screen and (min-width: 768px) {
  header>input,header>label{
    display: none;
  }
  header>nav{
    display: inline-block;
    grid-column: span 1;
    pointer-events: initial;
    opacity: 1;
  }
  header>nav>a{  
    transition: color 0.2s;
  }
  header>nav>a:hover{
    color: var(--dark);
  }
}

h1,h2,h3,h4,h5,h6{font-family:headings,sans-serif;font-weight:200;}
h1{font-size:200%;}
h2{
  font-size:150%;
}
p,li{font-size: 125%;}
.btn{display:inline-block;color: var(--accent);padding: 0.25rem 1rem;border-radius: 5rem;text-decoration: none;transition:background 0.2s,color 0.2s;}
.btn:hover,.btn:focus{color:var(--darker);background:var(--lighter);}
.page-title{padding-top: 7rem}

.bg-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  color:white;
  background-size:cover;
  background-position: center center;
}

.bg-1{
  background-image:url(/assets/Wiz/Wizstone.png);
}

.bg-scroll{
  background:var(--lighter);
}

hr{
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 85vw;
}

hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

